src/main/java/xml/odds.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Mon Oct 12 2015 21:16:36 GMT+0300 (RTZ 2 (зима)) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="odds">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="parsererror">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="h3" type="xs:string"></xs:element>
                                             <xs:element name="div" type="xs:string">
                                                   <xs:complexType>
                                                         <xs:attribute name="style" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="h3" type="xs:string"></xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="style" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="event" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="market">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="contract" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="bids">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="price" maxOccurs="unbounded">
                                                                                                         <xs:complexType>
                                                                                                               <xs:attribute name="decimal" type="xs:int"></xs:attribute>
                                                                                                               <xs:attribute name="percent" type="xs:double"></xs:attribute>
                                                                                                               <xs:attribute name="backers_stake" type="xs:int"></xs:attribute>
                                                                                                               <xs:attribute name="liability" type="xs:double"></xs:attribute>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="offers">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="price" maxOccurs="unbounded">
                                                                                                         <xs:complexType>
                                                                                                               <xs:attribute name="decimal" type="xs:double"></xs:attribute>
                                                                                                               <xs:attribute name="percent" type="xs:double"></xs:attribute>
                                                                                                               <xs:attribute name="backers_stake" type="xs:double"></xs:attribute>
                                                                                                               <xs:attribute name="liability" type="xs:double"></xs:attribute>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                           <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="slug" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="slug" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="date" type="xs:date"></xs:attribute>
                                       <xs:attribute name="id" type="xs:int"></xs:attribute>
                                       <xs:attribute name="name" type="xs:string"></xs:attribute>
                                       <xs:attribute name="parent" type="xs:string"></xs:attribute>
                                       <xs:attribute name="parent_slug" type="xs:string"></xs:attribute>
                                       <xs:attribute name="slug" type="xs:string"></xs:attribute>
                                       <xs:attribute name="time" type="xs:string"></xs:attribute>
                                       <xs:attribute name="type" type="xs:string"></xs:attribute>
                                       <xs:attribute name="url" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     <xs:attribute name="timestamp" type="xs:dateTime"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>
 